<div class="media">
  <%= render partial: 'user', locals: { item: item } %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to item.title, item_path(item) %>
    </h4>
    <small>
      submitted <%= time_ago_in_words(post.created_at) %> ago by <%= item.user.name %> <br>
      distance_of_time_in_words(from_time, to_time = 0, options = {}) public

    </small>

    <%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-ok' %>
  </div>
</div>
